NET"switch[0]" LOC="F12";
NET"switch[1]" LOC="G12";
NET"switch[2]" LOC="H14";
NET"switch[3]" LOC="H13";
NET"switch[4]" LOC="J14";
NET"switch[5]" LOC="J13";
NET"switch[6]" LOC="K14";
NET"switch[7]" LOC="k13";

NET"led[0]" LOC="K12";
NET"led[1]" LOC="P14";
NET"led[2]" LOC="L12";
NET"led[3]" LOC="N14";
NET"led[4]" LOC="P13";
NET"led[5]" LOC="N12";
NET"led[6]" LOC="P12";
NET"led[7]" LOC="P11";

NET"button" LOC="M13";

